.shopping-box {
  width: 25vw;
  max-height: 70vh;  
  
  position: absolute;
  top: 11vh;
  right: 6.1vw;
  box-shadow: 0 1em 1.2em 0 var(--grayishBlue-color);
  border-radius: 10px;
  z-index: var(--shoppingContainer-z-index);
  background-color: var(--white-color);
  display: none;
  cursor: default;
  overflow: auto;
}

.shopping-box--active {
  display: flex;
  flex-wrap: wrap;
}

.shopping-box__title {
  width: 100%;
  height: 7.5vh;
  padding-left: 1.4em;
  border-bottom: 3px solid var(--lightGrayishBlue-color);

  font-weight: 700;
  display: flex;
  align-items: center;
}

.shopping-box__empty {
  width: 100%;
  height: 21vh;
  margin: auto;
  
  font-weight: 700;
  color: var(--darkGrayishBlue-color);
  display: none;
}

.shopping-box__empty--active {
  display: flex;
  align-items: center;
  justify-content: center;
}

.shopping-box__checkout-btn {
  width: 100%;
  height: 3.5em;
  padding: 0.6em 1em;
  margin: 0 1.4em;
  margin-bottom: 2em;
  
  font-size: 1em;
  font-family: inherit;
  border-radius: 10px;
  background-color: var(--main-orange-color);
  color: var(--white-color);
}

@media screen and (max-width: 425px) {
  .shopping-box {
    width: 95vw;
    
    top: 8.5vh;
    left: 2.5vw;
  }
}